nav{
    width: 100%;
    padding: 1rem 0;
    background-color: #1B2431;
    box-shadow: 0 3px 8px #1B2431;

    img{
        height: 40px;
    }
    .contentnav{
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        max-width: 1024px;
        text-shadow: 2px 2px 2px black;

        .btnmenu{
            display: none;
        }
    }

    .menu{
        display: flex;
        gap: 2rem;
    }
    
    a{
        color: #E1E1E1;
        text-decoration: none;
    }
    a.active{
        color: aquamarine;
    }
}

@media (max-width:  768px){
    nav{
        padding-bottom: 1rem;
        .contentnav{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            //margin-left: 2rem;
            //margin-right: 2rem;
            .headernav{
                display: flex;
                justify-content: space-between;
                align-items: center;
                //background-color: antiquewhite;
                width: 100%;
            }
            .btnmenu{
                display: block;
                margin-right: 2rem;
                cursor: pointer;
            }
            img{
                margin-left: 2rem;
            }
            .menu{
                //background-color: aqua;
                
                display: none;
                span{
                    border-bottom: 2px solid #1C3C50;
                    padding-bottom: 1rem;
                    padding-top: 1rem;
                    padding-left: 4rem;
                    //background-color: antiquewhite;
                    width: 100%;
                }
            }
            .showMenu{
                display: flex;
                margin-top: 3rem;
                width: 100%;
                flex-direction: column;
                gap: 0;
                span{
                    border-bottom: 2px solid #1C3C50;
                    padding-bottom: 1rem;
                    padding-top: 1rem;
                    padding-left: 4rem;
                    //background-color: antiquewhite;
                    width: 100%;
                }
            }
        }
    }
    
}