<div style="box-sizing: border-box;background-color: rgba(53, 69, 92, 0.8);margin: 3rem auto 0 auto; max-width: 1024px; display: flex; flex-direction: column; align-items: center;gap: 1rem; padding: 2rem;">
    @for(item of marsArray; track $index){
        <article style="border: 1px solid white; padding: 4px 8px; display: flex; flex-direction: column;">
            <span>{{item.camera.full_name}}</span>
            <span>{{item.earth_date}}</span>
            <img [src]="item.img_src" alt="" style="width: 300px;">
        </article>
        
    }
</div>    