.container{
    box-sizing: border-box;
    background-color: rgba(53, 69, 92, 0.8);
    margin: 3rem auto 0 auto; 
    max-width: 1024px; 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;
    gap: 1rem; 
    padding: 2rem;
    article{
        border: 1px solid white; 
        padding: 8px; 
        display: flex; 
        flex-direction: column;
        img{
            width: 300px;
        }
    }
}