.contentPrimary{
    box-sizing: border-box;
    background-color: rgba(53, 69, 92, 0.8);
    margin: 3rem auto 3rem auto; 
    max-width: 1024px; 
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
    gap: 2rem;
    letter-spacing: 1px;
    .contentArticle{
        border: 1px solid rgb(129, 129, 129); 
        margin-bottom: 2rem;
        img{
            width: 100%;
        }
        div{
            padding: 1rem;
        }
    }
    h1{
        width: 100%; 
        text-align: center;
        text-shadow: 2px 2px 2px rgb(61, 61, 61);
    }
    p{
        line-height: 1.4rem;
    }
    & > div{
        width: 47%;
        background-color: #263242;
    }
}

@media (max-width: 768px){
    .contentPrimary{
        h3{
            font-size: 1.4rem;
        }
        h4{
            font-size: 1.2rem;
        }
        h5{
            font-size: 1rem;
        }
        & > div{
            width: 100%;
        }
    }
}