<div class="contentPrimary">
    <h1>The NASA patent portfolio</h1>
@if(patents != undefined){
    @for (item of patents; track $index) {
        <div class="contentArticle">
            <img src="{{item[10]}}" alt="{{item[2]}}">
            <div>
                <h3>{{item[1]}}</h3>
                <br>
                <h4>{{item[2]}}</h4>
                <br>
                <h5>{{item[5]}}</h5>
                <br>
                <p>
                    {{(showMore[$index]) ? item[3] : item[3] | slice:0:100}}<span *ngIf="!showMore[$index]">...</span>
                    <a href="javascript:;" *ngIf="!showMore[$index]" (click)="toggleShowMore($index)" style="color: rgb(0, 132, 255);">[Show More]</a>
                    <a href="javascript:;" *ngIf="showMore[$index]" (click)="toggleShowMore($index)" style="color: rgb(0, 132, 255);">[Show Less]</a>
                </p>
            </div>
        </div>
    }
}@else {
    <div>No Patent Information Available.</div>
}
</div>