.contentPrimary{
    box-sizing: border-box;
    background-color: rgba(53, 69, 92, 0.8);
    margin: 3rem auto 0 auto; 
    max-width: 1024px; 
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
    gap: 2rem;
    letter-spacing: 1px;
    p{
        line-height: 1.4rem;
    }
    & > div{
        width: 47%;
        background-color: #263242;
    }
}

@media (max-width: 768px){
    .contentPrimary{
        h3{
            font-size: 1.4rem;
        }
        h4{
            font-size: 1.2rem;
        }
        h5{
            font-size: 1rem;
        }
        & > div{
            width: 100%;
        }
    }
}