.contentPrimary{
    box-sizing: border-box;
    background-color: rgba(53, 69, 92, 0.8);
    margin: 3rem auto 0 auto; 
    max-width: 1024px; 
    display: flex; 
    flex-wrap: wrap;
    padding: 2rem;
    & > div{
        width: 50%;
    }
}

@media (max-width: 768px){
    .contentPrimary{
        & > div{
            width: 100%;
        }
    }
}