<div class="contentPrimary">
    <h1 style="width: 100%; text-align: center;text-shadow: 2px 2px 2px rgb(61, 61, 61);">The NASA patent portfolio</h1>
@if(patents != undefined){
    @for (item of patents; track $index) {
        <div style="border: 1px solid rgb(129, 129, 129); margin-bottom: 2rem;">
            <img src="{{item[10]}}" alt="" style="width: 100%;">
            <div style="padding: 1rem;">
                <h3>{{item[1]}}</h3>
                <br>
                <h4>{{item[2]}}</h4>
                <br>
                <h5>{{item[5]}}</h5>
                <br>
                <!-- <p>{{item[3]}}</p> -->
                <p>
                    {{(showMore[$index]) ? item[3] : item[3] | slice:0:100}} <span *ngIf="!showMore">...</span>
                    <a href="javascript:;" *ngIf="!showMore[$index]" (click)="toggleShowMore($index)" style="color: rgb(0, 132, 255);">[Show More]</a>
                </p>
            </div>
        </div>
    }
}@else {
    <div>No Patent Information Available.</div>
}
</div>