
<div class="contentPrimary">
    <div class="contentImage">
        <img src="../../assets/images/header.webp" alt="picture header of universe" >
        <h1>Explore the Wonders of the Universe</h1>
    </div>
    <p>Welcome to our celestial haven, where the mysteries of the cosmos unfold before your eyes. Embark on a journey through the boundless expanse of space as we delve into the captivating realm of astronomy. At our fingertips lies a wealth of knowledge gleaned from the forefront of exploration, sourced directly from the official repository of cosmic discovery – NASA.</p>
    <p>Discover the enigmatic allure of distant stars, planets, and galaxies that adorn the velvet tapestry of the night sky. Our platform serves as your celestial guide, offering a portal to unlock the secrets of the universe and unravel the complexities of cosmic phenomena.</p>
    <p>From the awe-inspiring majesty of nebulae to the intricate dance of celestial bodies in the cosmos, our curated content provides an immersive experience into the wonders of astronomy. Explore captivating imagery captured by cutting-edge telescopes and spacecraft, unveiling the breathtaking beauty and diversity of our cosmic neighborhood.</p>
    <p>Delve into the frontiers of scientific exploration with groundbreaking research and discoveries curated from the vast archives of NASA. Engage with informative articles, videos, and interactive features that illuminate the mysteries of black holes, supernovae, exoplanets, and beyond.</p>
    <p>Immerse yourself in the wonders of the universe with our user-friendly interface designed to inspire curiosity and ignite a passion for discovery. Whether you're a seasoned astronomer or a curious novice, our platform invites you to embark on an odyssey of cosmic exploration.</p>
    <p>Join us as we journey through the cosmos, unlocking the secrets of the universe one discovery at a time. Welcome to a universe of infinite possibilities – welcome to the frontier of astronomy.</p>
    <p>Begin your cosmic odyssey today. Explore, discover, and marvel at the wonders of the universe with us.</p>
</div>
<div class="contentSecondary">
@if(photoToday != undefined){
    <h2>Last Photo - {{photoToday.date}}</h2>
    @if(typeVideo){
        <a href="{{photoToday.url}}" target="_blank">Link Video Today</a>
    }@else{
        <img [src]="photoToday.hdurl" alt="Picture today for NASA" >
    }
    <h3>{{photoToday.title}}</h3>
    <p>Explanation: {{photoToday.explanation}}</p>
}@else{
    <h2 class="alert alert-warning" role="alert">No photo for today.</h2>
}  
</div>
@if(showError){
<div class="containerError">
    <div>
        <svg xmlns="http://www.w3.org/2000/svg" fill="white"  viewBox="0 0 16 16">
            <path d="M4.54.146A.5.5 0 0 1 4.893 0h6.214a.5.5 0 0 1 .353.146l4.394 4.394a.5.5 0 0 1 .146.353v6.214a.5.5 0 0 1-.146.353l-4.394 4.394a.5.5 0 0 1-.353.146H4.893a.5.5 0 0 1-.353-.146L.146 11.46A.5.5 0 0 1 0 11.107V4.893a.5.5 0 0 1 .146-.353zM5.1 1 1 5.1v5.8L5.1 15h5.8l4.1-4.1V5.1L10.9 1z"/>
            <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z"/>
          </svg>
    </div>
    <div>
        <span>Error</span>
        <p>Sorry, but there isn't Photo from today.</p>
    </div>
    <div (click)="hiddenError()">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
          </svg>
    </div>
</div>
}