// SPINEER
.spinner{
    /*   for centering div */
      position: absolute;
      top: 50% ;
      left: 50% -25px;
      //transform: translate(-50%, -50%);
      
    /*   spinner div css */
      height : 50px;
      width : 50px;
      border-radius : 50%;
    /*   background-color : red; */
      border : 10px solid #ccc;
      border-top-color : #007bff;
      animation : spin 1s linear infinite;
    }
    
    @keyframes spin{
      0%{
        transform : rotate(0deg);
      }
      100%{
        transform : rotate(360deg);
      }
    }


    .but-prev{
      padding: 4px 1rem;
      border-radius: 1rem 4px 4px 1rem;
    }

    .but-next{
      padding: 4px 1rem;
      border-radius: 4px 1rem 1rem 4px;
    }