<div style="box-sizing: border-box;background-color: rgba(53, 69, 92, 0.8);margin: 3rem auto 0 auto; max-width: 1024px; display: flex; flex-direction: column; align-items: center;gap: 1rem; padding: 2rem;">
    <h2>Asteroids</h2>
    <h3>Filter near-Earth asteroids by their start date and end date</h3>
    <h4>(limit between 7 days)</h4>
    <form [formGroup]="form" (submit)="onSubmit()">
        Start Date:<br />
        <input type="date" id="startDateInput" name="startDateInput" formControlName="startDate"><br />
        End Date:<br />
        <input type="date" id="endDateInput" name="endDateInput" formControlName="endDate"><br /><br />
        <button>Submit</button><br/>
    </form>
</div>
<div style="box-sizing: border-box;background-color: rgba(53, 69, 92, 0.8);margin: 3rem auto 0 auto; max-width: 1024px; display: flex; flex-direction: column; align-items: center;gap: 1rem; padding: 2rem;">
    @if(asteroids != undefined){
        <span>Number of Asteroids are: {{asteroids.element_count}}</span><br />
        <div style="display: flex; flex-wrap: wrap; gap:1rem;">
        @for (item of asteroidsArray; track $index) {
            <article style="border: 1px solid white; padding: 1rem;">
                
                <span>Name: {{item.name}}</span>
                
            </article>
        }
        </div>
    }
</div>