<div class="contenedor">
<div class="containerPrimary">
    <h2>Asteroids</h2>
    <h3>Filter near-Earth asteroids by their start date and end date</h3>
    <h4>(limit between 7 days)</h4>
    <form [formGroup]="form" (submit)="onSubmit()">
        Start Date:<br />
        <input type="date" id="startDateInput" name="startDateInput" formControlName="startDate"><br />
        End Date:<br />
        <input type="date" id="endDateInput" name="endDateInput" formControlName="endDate" max="{{dateMax}}"><br /><br />
        <button class="but-submit">Search</button><br/>
    </form>
</div>
<div class="containerSecondary">
    @if(isLoading){
        <div class="spinner">
        </div>
    }
    @if(asteroidShow != undefined){
        <span>Number of Asteroids are: {{asteroidShow.length}}</span><br />
        <div class="contentArticle">
        @for (item of asteroidShow; track $index) {
            @if($index >= desde && $index < limite){
            <article>
                <span>Name: {{item.name}}</span>
                <span>Magnitude: {{item.absolute_magnitude_h}} H</span>
                <span>Diameter Min: {{item.estimated_diameter.meters.estimated_diameter_min}} m</span>
                <span>Diameter Max: {{item.estimated_diameter.meters.estimated_diameter_max}} m</span>
                <span>Potentially Hazardous Asteroid: {{item.is_potentially_hazardous_asteroid}}</span>
            </article>
            }
        }
        </div>
        <div>
            <button (click)="previewAsteroids()" class="but-prev">Prev</button>
            <button (click)="nextAsteroids()" class="but-next">Next</button>
        </div>
    }
</div>


@if(showError){
    <div class="containerError">
        <div>
            <svg xmlns="http://www.w3.org/2000/svg" fill="white"  viewBox="0 0 16 16">
                <path d="M4.54.146A.5.5 0 0 1 4.893 0h6.214a.5.5 0 0 1 .353.146l4.394 4.394a.5.5 0 0 1 .146.353v6.214a.5.5 0 0 1-.146.353l-4.394 4.394a.5.5 0 0 1-.353.146H4.893a.5.5 0 0 1-.353-.146L.146 11.46A.5.5 0 0 1 0 11.107V4.893a.5.5 0 0 1 .146-.353zM5.1 1 1 5.1v5.8L5.1 15h5.8l4.1-4.1V5.1L10.9 1z"/>
                <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z"/>
              </svg>
        </div>
        <div>
            <span >Warning</span>
            <p>{{messageError}}</p>
        </div>
        <div (click)="hiddenError()">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
              </svg>
        </div>
    </div>
}


</div>